.summary-heading {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-page {
    margin-top: 24px;
}

.progressbar-container {
    margin: 20px 0;
}